#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;

    & .back {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      margin-bottom: 1.5rem;
    }

    & h1 {
      font: 600 1.5rem/1.25 var(--font-family);

      margin-bottom: 0.5rem;
    }
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;

  & .aside-container {
    max-width: 31rem;

    & h2 {
      margin-block: 0.5rem;

      font: 600 2.5rem/1.25 var(--font-family);

      & span {
        color: var(--text-highlight);
      }
    }

    & > img {
      margin-top: 2rem;
    }
  }
}

@media (width <= 31.25em) {
  #app {
    grid-template-columns: 1fr;
    overflow: unset;
  }

  main {
    overflow: unset;
    padding: 2rem;
  }

  aside {
    padding: 2rem;
    order: -1;

    & header h2,
    & header p {
      display: none;
    }

    & header {
      display: flex;
      justify-content: center;
    }
  }
}
